.indi {
  color: black !important;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {

  filter: invert(100%);
}

.carousel-indicators button {
  background-color: black !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 1rem !important;
    height: 1rem !important;
}
