/********************************************************* Loan Info UI *********************************************************/
/*******************************************************************************************************************************/
.loan {
  font-family: Poppins;
  width: 100%;
  margin: auto;
  margin-bottom: 25px;
}

.loan-info {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 29px;
  color: #787777;
}

.background-right {
  width: 45%;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  background: rgba(241, 228, 255, 0.77);
}

.background-left {
  width: 55%;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  background: rgba(241, 228, 255, 0.64);
}

.background-right,
.background-left {
  margin-top: 2%;
}

.right-container {
  display: flex;
  align-items: center;
  margin-top: 50%;
}

.left-container {
  padding: 25% 10% 25% 10%;
}

.buttons {
  margin-top: 40px;
}

.buttons button:first-child {
  background: #ffffff;
  width: 104px;
  color: #8c30f5;
  border-radius: 6px;
  margin-right: 15px;
}

.buttons button:last-child {
  background: #8c30f5;
  width: 104px;
  color: #fff;
  border-radius: 6px;
}

.terms-amount {
  display: block;
  width: 45%;
  margin-top: 0 !important;
  font-family: Poppins;
  font-style: normal;
  line-height: 30px;
}

.terms-amount2 {
  display: block;
  width: 40%;
  font-family: Poppins;
  font-style: normal;
  line-height: 30px;
}

.terms-amount2 p:last-child,
.terms-amount p:last-child {
  color: #8c30f5;
  font-weight: 500;
  font-size: 30px;
}

.terms-amount2 p:first-child,
.terms-amount p:first-child {
  color: #333333;
  font-size: 20px;
}

.terms {
  display: flex;
  margin-top: 9%;
}

.percent {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 39px;
  color: #8c30f5;
}

.head-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 1000;
  font-size: 32px;
  line-height: 45px;
  width: 95%;
  margin: auto;
  font-feature-settings: "salt" on, "liga" off;
  color: #333333;
}

.header-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: "500";
  font-size: "36px";
  line-height: "59px";
  color: "#333333";
}

@media (min-width: 1440px) {
  .terms-amount {
    margin-top: 12%;
    font-size: 25px;
  }

  .right-container {
    margin-top: 40%;
  }
}

@media (min-width: 1024px) {
  .terms-amount2 {
    font-size: 20px !important;
  }

  .terms-amount {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .terms-amount2 p:last-child,
  .terms-amount p:last-child {
    font-size: 22px;
  }

  .terms-amount2 p:first-child,
  .terms-amount p:first-child {
    font-size: 15px;
  }
}

@media (max-width: 540px) and (min-width: 426px) {
  .background-right,
  .background-left {
    width: 100%;
    border-radius: 0px;
  }
  .right-container {
    margin-top: 15%;
  }

  .terms-amount {
    font-size: 20px;
  }

  .terms-amount2 {
    font-size: 130% !important;
  }

  .left-container {
    padding: 15% 5% 15% 5%;
  }

  .head-title {
    width: 100%;
    padding-left: 22px;
  }
}

@media (max-width: 425px) {
  .background-right,
  .background-left {
    width: 100%;
    border-radius: 0px;
  }

  .head-title {
    width: 100%;
    text-align: center;
    padding: 15px;
  }

  .right-container {
    margin-top: 15%;
  }

  .terms-amount2 p:last-child,
  .terms-amount p:last-child {
    font-size: 22px;
  }

  .terms-amount2 p:first-child,
  .terms-amount p:first-child {
    font-size: 17px;
  }

  .left-container {
    padding: 10% 4% 10% 4%;
  }
}

@media (max-width: 375px) {
  .terms-amount2 p:last-child,
  .terms-amount p:last-child {
    font-size: 22px;
  }

  .terms-amount2 p:first-child,
  .terms-amount p:first-child {
    font-size: 15px;
  }
}

@media (max-width: 320px) {
  .buttons button:last-child {
    width: fit-content;
  }

  .buttons button:first-child {
    width: fit-content;
  }

  .terms-amount2 p:last-child,
  .terms-amount p:last-child {
    font-size: 16px;
  }

  .terms-amount2 p:first-child,
  .terms-amount p:first-child {
    font-size: 12px;
  }
}

@media (max-width: 280px) {
  .terms {
    display: block;
  }

  .terms-amount,
  .terms-amount2 {
    width: 100%;
    line-height: 10px;
    margin-top: 30px;
  }

  .head-title {
    font-size: 25px;
  }
}

/********************************************************* APPLY UI *********************************************************/
/***************************************************************************************************************************/
.apply {
  padding: 9% 3% 9% 3%;
}

.apply input,
.apply select {
  height: 50px;
}

.apply form .mb-3 {
  margin-bottom: 9% !important;
}

.apply form label {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.apply .guarantor-section {
  width: 80%;
  margin: auto;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 45px;
  font-feature-settings: "salt" on, "liga" off;
  color: #333333;
}

.apply .quickinfo {
  width: 80%;
  margin: 2% auto;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #666666;
}

.apply .next {
  width: 80%;
  margin: auto;
}

.apply .next button {
  width: 100px;
  background: #8c30f5;
  color: #fff;
}

.loan-app {
  width: 80%;
  margin: auto;
  font-family: Poppins;
  font-style: normal;
  font-weight: 520;
  font-size: 24px;
  line-height: 45px;
  font-feature-settings: "salt" on, "liga" off;
  color: #333333;
}

.apply .apply-left {
  padding-left: 0;
}

.apply .apply-right {
  padding-right: 0;
}

.apply .segment {
  width: 80%;
  margin: 4% auto;
}

@media (max-width: 768px) {
  .apply form label {
    font-size: 13px;
  }
}

@media (max-width: 540px) {
  .apply .apply-left {
    padding-right: 0;
    padding-left: 0;
  }

  .apply .apply-right {
    padding-left: 0;
  }

  .loan-app {
    width: 100%;
    text-align: center;
  }

  .apply {
    padding: 9% 0% 9% 0%;
  }
}
/********************************************************* Summary Info UI *********************************************************/
/*******************************************************************************************************************************/
.summary {
  padding: 9% 3% 9% 3%;
}

.summary-box {
  text-align: center;
  width: 70%;
  margin: auto;
  border-radius: 20px;
  background-color: #fff;
  padding: 5% 3% 5% 3%;
}

.apply-summary {
  margin-bottom: 7%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 505;
  font-size: 24px;
  line-height: 40px;
  color: #8c30f5;
}

.pay-summary {
  margin-bottom: 7%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.amount-summary {
  margin-bottom: 10%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.info-summary {
  line-height: 35px;
  margin-bottom: 20%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #787777;
}

.base-summary .checkbox {
  margin-right: 3%;
}

.base-summary {
  display: flex;
  justify-content: center;
  margin-bottom: 7%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #666666;
}

.summary-submit {
  width: 100px;
  background: #8c30f5;
  color: #fff;
}

@media (max-width: 540px) {
  .summary-box {
    width: 95%;
  }

  .summary-box div{
    line-height: 40px;
  }

  .apply-summary {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .apply-summary {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .info-summary {
    font-size: 15px;
  }
}

@media (max-width: 280px) {
  .summary-box {
    width: 98%;
  }
}
